body{
        
    background-image: linear-gradient(to right, rgb(238, 238, 238), rgb(179, 228, 235));
}


.cabecalho{ 
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    justify-content: space-around;  
    color: rgb(0, 0, 0);
}

.subtitulo{
    width: 700px; 
    margin-left: auto;
    margin-right: auto;  
    color: rgb(21, 12, 100);
}

.conteudo{
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
}

.imagem-cabecalho{
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
    height: 400px;
}

.imagem-conteudo{
    height: 500px;
}